@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.Hosting
@using Trimco.CertificateManager.Client.Core.Components
@using Trimco.CertificateManager.Client.Core.Resources.Icons

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trimco Certificate Manager</title>
    <base href="/" />

    <link href="@Assets["images/32.png"]" rel="shortcut icon" type="image/x-icon">
    <link href="@Assets["images/256.png"]" rel="apple-touch-icon">

    <link href="@Assets["_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css"]" rel="stylesheet" />
    <link href="@Assets["css/MudBlazor.min.css"]" rel="stylesheet" />
    <link href="@Assets["css/table.css"]" rel="stylesheet" />
    <link href="@Assets["css/reset.css"]" rel="stylesheet" />
    <link href="@Assets["css/variables.css"]" rel="stylesheet" />
    <link href="@Assets["css/app.css"]" rel="stylesheet" />
    <link href="@Assets["Trimco.CertificateManager.Client.styles.css"]" rel="stylesheet" />

    <script src="@Assets["_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.lib.module.js"]" type="module" async></script>
    <script src="@Assets["js/Sortable.min.js"]" type="text/javascript"></script>

    <ImportMap />

    <HeadOutlet @rendermode="@RenderMode.InteractiveServer" />
</head>

<body>
    <app class="t-app">
        <Routes @rendermode="@RenderMode.InteractiveServer" />
    </app>

    <div id="blazor-error-ui">
        @if (_env.IsDevelopment())
        {
            <text>
                An unhandled exception has occurred. See browser dev tools for details.
            </text>
        }
        else
        {
            <text>
                An error has occurred. This app may no longer respond until reloaded.
            </text>
        }

        <a href="" class="reload">Reload</a>
        <a class="dismiss">
            <TrimcoIcon Icon="@TrimcoIcons.Close" />
        </a>
    </div>

    <script src="_framework/blazor.web.js" autostart="false"></script>
    <script>
    Blazor.start({
        // signalr timeout to 60 seconds
        configureSignalR: function (builder) {
            builder.withServerTimeout(60000);
        },
        // adjust reconnect to 24 every 3 seconds
        reconnectionOptions: {
        maxRetries: 24,
        retryIntervalMilliseconds: 3000
        }
    });
    </script>

</body>

</html>
